<div class="col-s12-m6">
  <div class="card">

  <div class="card-content">
    <span class="card-title-truncate">
      {{person.name}}
    </span>
<p></p>
<div>
  <h1>{{person.name}}</h1>
  <ul>
    <li>Altura: {{person.height}}</li>
    <li>Peso: {{person.mass}}</li>
    <li>Color de pelo: {{person.hair_color}}</li>
    <li>Color de piel: {{person.skin_color}}</li>
    <li>Color de pelo: {{person.eye_color}}</li>
    <li>Nacimiento: {{person.birth_year}}</li>
    <li>Genero: {{person.gendre}}</li>
  </ul>
</div>
</div>
